<div class="tab-content p-24" fxLayout="column" fusePerfectScrollbar>


    <form name="userAuthForm" [formGroup]="userAuthForm" #formDirective="ngForm" class="user w-100-p" fxLayout="column" class="mat-white-bg p-24 mr-24 mb-24">
        <div fxLayout="row">
          <div fxFlex="80" *ngIf="driver.auth && driver.auth.username" fxLayoutAlign="start start" class="h2">{{'DRIVER.DETAILS.RESET_AUTH' | translate}}</div>
          <div fxFlex="80" *ngIf="!driver.auth || !driver.auth.username" fxLayoutAlign="start start" class="h2">{{'DRIVER.DETAILS.CREATE_AUTH' | translate}}</div>
          <button mat-raised-button *ngIf="driver.auth && driver.auth.username" (click)="removeDriverAuth()">{{'DRIVER.DETAILS.REMOVE_USER_AUTH' | translate}}</button>
        </div>

        <mat-form-field class="w-100-p">
          <input matInput name="username" formControlName="username" maxlength="15" placeholder="{{'DRIVER.DETAILS.USERNAME' | translate}}">
          <mat-error *ngIf="userAuthForm.hasError('required', ['username'])">
            {{'DRIVER.DETAILS.USERNAME_REQUIRED' | translate}}
          </mat-error>
          <mat-error *ngIf="userAuthForm.hasError('pattern', ['username'])">
            {{'DRIVER.DETAILS.INVALID_USERNAME_FORMAT' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100-p">
          <input matInput name="password" formControlName="password" placeholder="{{'DRIVER.DETAILS.NEW_PASSWORD' | translate}}" type="password">
          <mat-error *ngIf="userAuthForm.hasError('required', ['password'])">
            {{'DRIVER.DETAILS.NEW_PASSWORD_REQUIRED' | translate}}
          </mat-error>
          <mat-error *ngIf="userAuthForm.hasError('pattern', ['password'])">
            {{'DRIVER.DETAILS.INVALID_PASSWORD' | translate}}
          </mat-error>

        </mat-form-field>

        <mat-form-field class="w-100-p">
          <input matInput name="passwordConfirmation" formControlName="passwordConfirmation" placeholder="{{'DRIVER.DETAILS.PASSWORD_CONFIRMATION' | translate}}"
            type="password">
          <mat-error *ngIf="userAuthForm.hasError('required', 'passwordConfirmation')">
            {{'DRIVER.DETAILS.PASSWORD_CONFIRMATION_REQUIRED' | translate}}
          </mat-error>
          <mat-error *ngIf="userAuthForm.hasError('notEquivalent', ['passwordConfirmation'])">
            {{'DRIVER.DETAILS.NOT_EQUIVALENT_PASSWORD' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-slide-toggle formControlName="temporary" color="accent">
          <label>{{'DRIVER.DETAILS.TEMPORARY' | translate}}</label>
        </mat-slide-toggle>

        <div class="mt-16">
            <button mat-raised-button *ngIf="driver._id && (!driver.auth || !driver.auth.username)" (click)="createDriverAuth(formDirective)" [disabled]="userAuthForm.invalid || userAuthForm.pristine">{{'DRIVER.SAVE' | translate}}</button>
            <button mat-raised-button *ngIf="driver._id && driver.auth && driver.auth.username" (click)="resetDriverPassword(formDirective)" [disabled]="userAuthForm.invalid || userAuthForm.pristine">{{'DRIVER.RESET_PASSWORD' | translate}}</button>
        </div>

      </form>


</div>
